﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="DefaultProduct.aspx.cs" Inherits="Tienda2019.Web.Catalogo.DefaultProduct" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <div></div>
</asp:Content>
