﻿@charset "utf-8";
<style class="cp-pen-styles">body {
  padding: 1.5em;
  background: #fff;
  background: whitesmoke;
}

.container {
  width: 100%;
  height: 100%;
}
.container .product {
  width: 650px;/**/
  height: 250px;
  display: flex;
  margin: 1em 0;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.15);/*sombra*/
  transition: all .1s ease-in-out;
}
.container .product:hover {
  box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.11);
}
.container .product .img-container {
  flex: 2;/*amplia el contenedor de la imagen*/
}
.container .product .img-container img {
  object-fit: contain;/*cambiado de cover a contain, con cover se corta el borde de la imagen*/
  width: 100%;
  height: 100%;
}
.container .product .product-info {
  background: #fff;
  flex: 3;
}
.container .product .product-info .product-content {
  padding: .2em 0 .2em 1em;
}
.container .product .product-info .product-content h1 {
  font-size: 1.5em;
}
.container .product .product-info .product-content p {
  color: #636363;
  font-size: .9em;
  font-weight: bold;
  width: 80%; /*ancho de caja de texto*/
}
.container .product .product-info .product-content ul li {
  color: #636363;
  font-size: .9em;
  margin-left: 0;
}
.container .product .product-info .product-content .buttons {
  padding-top: .4em;
}
.container .product .product-info .product-content .buttons .button {
  text-decoration: none;
  color: #5e5e5e;
  font-weight: bold;
  padding: .3em .65em;
  border-radius: 2.3px;
  transition: all .1s ease-in-out;
}
.container .product .product-info .product-content .buttons .add {
  border: 1px #5e5e5e solid;
}
.container .product .product-info .product-content .buttons .add:hover {
  border-color: #6997b6;
  color: #6997b6;
}
.container .product .product-info .product-content .buttons .buy {
  border: 1px #5e5e5e solid;
}
.container .product .product-info .product-content .buttons .buy:hover {
  border-color: #6997b6;
  color: #6997b6;
}
.container .product .product-info .product-content .buttons #price {
  margin-left: 4em;
  color: #5e5e5e;
  font-weight: bold;
  border: 1px solid rgba(137, 137, 137, 0.2);
  background: rgba(137, 137, 137, 0.04);
}/* CSS Document */
 .contenedor {
    padding: 30px 40px;
}

.imagen {
    width: 100%;
}


/*Dimensiones del marco*/
.marco {
    width: 20%;
    float: left;
    margin: 3%;
    height: 505px;
    display: block;
    border-radius: 4px;
    position: relative;
    padding: 8px;
    border: solid #999999;
    text-align: center; /*alinea los elementos en el centro, por defecto los pone a la izquierda.*/
    /*Sombra del marco*/
    /*box-shadow: 2px 8px 5px #000;*/
    /*background: #3b5bdb;*/
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

.panel { /*borde del panel*/
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}


.marco1 {
    padding: 8px;
    background-color: #f5f5f5;
    width: 220px;
    border: 1px solid #999999;
    margin: 20px;
}

.marco1 {
    border: 4px solid green;
}

.marco3 {
    padding: 8px 8px 20px 8px;
    background-color: #ffffff;
    width: 220px;
    border: 1px solid #999999;
    margin: 20px;
}

.boton {
    display: inline-block;
    padding: 15px 32px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 100;
    line-height: 0;
    text-align: center;
    white-space: normal;
    /*white-space: nowrap;*/
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 1px;
    text-decoration: none;
}

.boton-rojo {
    color: #ffffff;
    background-color: #CB251F;
    border-color: #d43f3a;
}

    .boton-rojo:hover {
        color: #ffffff; /*blanco*/
        background-color: #BB231E;
        border-color: #DB251F;
    }

.boton-amarillo {
    color: #ffffff;
    background-color: #CBAB1F;
    border-color: #CBAB1F;
}

    .boton-amarillo:hover {
        color: #ffffff;
        background-color: #DBAB1F;
        border-color: #DBAB1F;
    }


.boton-verde {
    color: #ffffff;
    background-color: #3BBB1E;
    border-color: #3BBB1E;
}

    .boton-verde:hover {
        color: #ffffff;
        background-color: #36A71C;
        border-color: #36A71C;
    }

.boton-azul {
    color: #ffffff;
    background-color: #26ADD6;
    border-color: #26ADD6;
}

    .boton-azul:hover {
        color: #ffffff;
        background-color: #15AAD7;
        border-color: #15AAD7;
    }


.boton-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 4px;
}


/*==========================================*/
.boton_card {
    text-decoration: none;
    background-color: #1883ba;
    /*border: 2px solid #0016b0;*/
}

.boton_personalizado {
    text-decoration: none;
    padding: 40px;
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-weight: 200;
    font-size: 30px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 7px;
    /*border: 2px solid #0016b0;*/
}

    /*hace un efecto al pasar por encima*/
    .boton_personalizado:hover {
        color: #1883ba;
        background-color: #ffffff;
    }

.boton_1 {
    text-decoration: none;
    padding: 40px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #006505;
    background-color: #82b085;
    border-radius: 7px;
    /* border: 4px double #006505;*/
}

    .boton_1:hover {
        opacity: 0.6;
        text-decoration: none;
    }

.boton_2 {
    text-decoration: none;
    padding: 20px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    font-size: 25px;
    color: black;
    background-color: #9b0e0e;
}

    .boton_2:hover {
        color: #9b0e0e;
        background-color: #bc6355;
        text-decoration: none;
    }


/*Text-decoration se refiere a la decoración del texto, deberemos establecerlo en none a no ser que queramos tener el texto del botón subrayado.

Padding es la distancia entre el texto y el borde del botón. En este caso está establecido en pixeles.

Font-wheight se trata del grosor de las letras. Mientras más alto sea su número, más gruesas serán.

Font-size es el tamaño se la letra, en este caso, también en pixeles.

Color se refiere al color de la letra. Podremos personalizarlo fácilmente con un código HEX, RGB  o incluso RGBA.

Background-color es el color de fondo del botón.

Border-radius se trata del redondeado de los cantos de botón. Mientras más pixeles asignemos, más redondeados serán los bordes. Si, lo que queremos es un botón sin bordes redondeados, lo eliminaremos.

Border es del borde del botón. Podremos asignar un grosor en pixeles y un color.*/
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

    .small-box > .inner {
        padding: 10px;
    }

    .small-box > .small-box-footer {
        position: relative;
        text-align: center;
        padding: 3px 0;
        color: #fff;
        color: rgba(255,255,255,0.8);
        display: block;
        z-index: 10;
        background: rgba(0,0,0,0.1);
        text-decoration: none;
    }

        .small-box > .small-box-footer:hover {
            color: #fff;
            background: rgba(0,0,0,0.15);
        }

    .small-box h3 {
        font-size: 38px;
        font-weight: bold;
        margin: 0 0 10px 0;
        white-space: nowrap;
        padding: 0;
    }

    .small-box p {
        font-size: 15px;
    }

        .small-box p > small {
            display: block;
            color: #f9f9f9;
            font-size: 13px;
            margin-top: 5px;
        }

    .small-box h3,
    .small-box p {
        z-index: 5;
    }

    .small-box .icon {
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        position: absolute;
        top: -10px;
        right: 10px;
        z-index: 0;
        font-size: 90px;
        color: rgba(0,0,0,0.15);
    }

    .small-box:hover {
        text-decoration: none;
        color: #f9f9f9;
    }

        .small-box:hover .icon {
            font-size: 95px;
        }

@media (max-width:767px) {
    .small-box {
        text-align: center;
    }

        .small-box .icon {
            display: none;
        }

        .small-box p {
            font-size: 12px;
        }
}
.trans{
  width: 400px;
  background-color: red;
  display: flex;
  justify-content: center;
}

